@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: flex;

}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #18181b;
}

/* lacing the top navigation bar */
nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

}

.nav-logo{
    max-width: 120px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: left;
    gap: 3rem
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

/* Little blue line under the text when the mouse hovers over it */
.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

/* HIRE ME BUTTON */
.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease
}

.btn:hover{
    background-color: #1e40af;

}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;

}

/* Background blur */
.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #1dd86e;
    z-index: -100;
}

/* Header text */
header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}

/* Top part of header */
header .content h4{
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;

}

/* Main BOLD part of header */
header .content h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

/* Name graphic */
header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #0cdfd8;
}

header .content p {
    margin-bottom: 2rem;
    color: #ccc;
}

header .image{
    position: relative;
}

header .image::before{
    content: "•";
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-8.5%);
    font-size: 100rem;
    font-weight: 400;
    line-height: 25rem;
    color: #1d4ed8;
    opacity: 0.2;
    z-index: -300;
}

header .image .img{
    max-width: 600px;
    margin: auto;

}

section .header{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.features{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}

.features .card {
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;

}


.features .card:hover{
    background-color: #323232;
    border-color: #fff;
}

.features .card span{
    display: inline-block;
    background-color: #1e48af;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;

}

.features .card h4{
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.features .card p{
    color: #ccc;
    margin-bottom: 1rem;

}

/* Join now button */
.features .card a{
    color: #fff;
    transition: all 0.3s ease;

}

/* When hovering over the join now button */
.features .card a:hover{
    color: #1e40af;
}

.sub-header{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #ccc;
}

.pricing{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 1rem;
}

.pricing .card{
    background-color: #4444fa0e;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
    display: grid;
    place-items: center;

}

.pricing .card .content{
    flex:1;
    margin-bottom: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    
}

.pricing .card .content7{
    flex:1;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    
}


.card .content1{
    max-width: 600px;
    
}

.card .content2{
    max-width: 80px;
    
}

.card .content3{
    max-width: 60px;
    
}


.card .content4{
    max-width: 60px;
    
}



.card .content5{
    max-width: 70px;
    
}


.card .content6{
    max-width: 80px;
    
}



.card .content7{
    max-width: 80px;
    
}


.card .content8{
    max-width: 80px;
    
}


.card .content9{
    max-width: 70px;
    
}


.card .content10{
    max-width: 70px;
    
}


.card .content11{
    max-width: 70px;
    
}


.card .content12{
    max-width: 30px;
    
}

footer{
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3,1fr);
    gap: 2rem;
}

footer .column .logo{
    max-width: 100px;
    margin-bottom: 2rem;
}

footer .column p{
    color: #ccc;
    margin-bottom: 2rem;
}

footer .column .socials{
    display: flex;
    align-items: center;
    gap: 1rem;
}









